/** GENERAL **/
* {
    box-sizing: border-box;
}
body {
    font-family: "EB Garamond", sans-serif;
}
.container {
    max-width: 800px;
    padding: 0px 20px;
    margin: auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
p, span {
    font-size: 18px;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: black;
}
.link {
    color: blue;
    text-decoration: underline;
}
/** HEADER **/
header {
    flex-direction: column;
}
h1 {
    font-family: "The Nautigal", sans-serif;
    font-size: 70px;
    margin: 15px 0px;
    white-space: nowrap;
}
/** NAV **/
nav {
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
    gap: 20px;
}
li {
    font-size: 20px;
    font-weight: 700;
}
/** NAV ANIMATION **/
.li-active {
    border-bottom: solid 3px black;  
}
.li-not-active:after {
  display:block;
  content: "";
  border-bottom: solid 3px black;
  transform: scaleX(0);
  transition: all ease-in-out 0.2s;
}
.li-not-active:hover:after {
    transform: scaleX(1);
}
.li-not-active:after {
    transform-origin: 0% 50%;
}
/** DESCRIPTION **/
.description {
    flex-direction: column;
    align-items: flex-start;
    font-family: "Philosopher", sans-serif;
}
.description p {
    margin: 5px 0px;
}
/** CONTACT BUTTONS **/
.contact {
    justify-content: space-between;
    margin-top: 20px;
}
.button {
    width: 155px;
    height: 40px;
    padding: 0px 3px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease;
}
.button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
}
.button:hover:after {
    width: 100%;
}
.text-after-hover, .text-phone, .button:hover .icon-before-hover {
    display: none;
}
.button:hover .text-after-hover {
    display: initial;
}
.button-blue {
    color: white;
    background: rgb(27, 79, 82);
    border: 2px solid rgb(27, 79, 82);
}
.button-blue:hover {
    color: rgb(27, 79, 82);
}
.button-yellow {
    color: black;
    background:rgb(255, 209, 25);
    border: 2px solid rgb(255, 209, 25);
}
.button-yellow:hover {
    color: rgb(255, 209, 25);
}
/** SLIDER PORTFOLIO **/
.portfolio {
    margin: 35px 0px;
}
.slider {
    height: 91vh;
    border-radius: 20px;
    box-shadow: 0px 3px 14px 0px #787777;
    overflow: hidden;
}
.wrap-slides {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
article {
    height: 91vh;
    width: 100%;
    border-radius: 20px;
    flex-shrink: 0;
    transform: scale(1);
    transform-origin: center center;
    scroll-snap-align: center;
}
.slide-arrow {
    position: absolute;
    top: 50%;
    width: 13px;
    height: 13px;
    border: solid black;
    border-width: 0px 4px 4px 0px;
}
.slide-prev {
    transform: rotate(135deg);
    left: 2%;
}
.slide-next {
    transform: rotate(-45deg);
    right: 2%;
}
/** CARDS PORTFOLIO **/
.object-fit {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.image-booki {
    object-position: top left;
}
h2, .cards-description {
    margin-bottom: 0px;
}
.cards-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 40px;
}
h2 {
    text-align: center;
}
.icons-description {
    font-size: 25px;
    margin-top: 20px;
    gap: 20px; 
}
.image-www {
    margin-top: 8px;
}
/** FOOTER **/
footer {
    display: flex;
    justify-content: space-between;
}
footer span {
    font-size: 13px;
}

/** PAGE CV **/

.download {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 15px;
    border-radius: 30px;
    background: rgb(215, 209, 209);
}



/** MEDIA QUERY BIG PHONES/SMALL TABLETS **/
@media screen and (max-width: 768px) {
/** GENERAL **/
    .container-tablet {
        max-width: 1440px;
        margin: auto;
        padding: 0;
    }
    .upper-div {
        padding: 0px 20px;
    }
/** CONTACT **/
    .contact {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2.3%;
    }
    .contact a {
        flex: 1 1 30%;
    }
    .button {
        justify-content: center;
        gap: 3%;
        margin-bottom: 5px;
        width: 100%;
    }
    .button-git {
        display: none;
    }
    .text-phone, .button:hover .icon-before-hover {
        display: initial;
    }
    .button:hover .text-after-hover {
        display: none;
    }
/** SLIDER PORTFOLIO **/
    .slider {
        width: 100%;
        height: 100vh;
        padding: 0;
        border-radius: 0;
    }
/** CARDS PORTFOLIO **/
    article {
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .object-fit {
        height: 33%;
        width: 100%;
        object-position: 50% 30%;
    }
    .image-booki {
        object-position: top left;
    }
    .cards-text {
        height: 67%;
        width: 100%;
    }
    .cards-description {
        margin-top: 5px;
        font-size: 1rem;
    }
}

/** MEDIA QUERY PHONES **/
@media screen and (max-width: 547px) {
/** GENERAL **/
    body {
        background: white;
    }
/** CONTACT **/
    .contact {
        flex-direction: column;
        align-items: stretch;
    }
    .button {
        width: 100%;
    }
    .button-git {
        display: initial;
    }
/** SLIDER PORTFOLIO **/
    .slider {
        height: 120vh;
    }
    article {
        height: 120vh;
    }
    .image-booki {
        object-position: top left;
    }
}