/** GENERAL **/
* {
    box-sizing: border-box;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body {
    max-width: 1440px;
    margin: auto;
    font-family: "EB Garamond", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.link {
    color: blue;
    text-decoration: underline;
}
p, span {
    font-size: 18px;
    font-weight: 500;
}

/** HEADER **/
header {
    flex-direction: column;
}
h1 {
    font-family: "Splash", sans-serif;
    font-size: 46px;
}

/** NAV **/
nav {
    width: 100%;
}
ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 2%;
}
li {
    font-size: 20px;
    font-weight: 700;
}

/** NAV ANIMATION **/
.li-not-active:after {
  display:block;
  content: "";
  border-bottom: solid 3px black;  
  transform: scaleX(0);  
  transition: all ease-in-out 0.2s;
}
.li-not-active:hover:after {
    transform: scaleX(1);
}
.li-not-active:after {
    transform-origin: 0% 50%;
}
.li-active {
    border-bottom: solid 3px black;  
}

/** UPPER DIV **/
.upper-div {
    padding: 0px 40px;
}

/** DESCRIPTION **/
.description {
    flex-direction: column;
    font-family: "Philosopher", sans-serif;
}
fieldset {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 3%;
    width: 80%;
    padding: 11px 10%;
}
legend {
    padding: 0px 4px;
    font-family: "Philosopher", sans-serif;
}

/** CONTACT BUTTONS **/
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 40px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease;
}
.button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: white;
}
.button:hover:after {
    width: 100%;
}
.text-after-hover {
    display: none;
}
.button:hover .icon-before-hover {
    display: none;
}
.button:hover .text-after-hover {
    display: inherit;
}
.button-blue {
    color: white;
    background: rgb(27, 79, 82);
    border: 2px solid rgb(27, 79, 82);
}
.button-blue:hover {
    color: rgb(27, 79, 82);
}
.button-yellow {
    color: black;
    background:rgb(255, 209, 25);
    border: 2px solid rgb(255, 209, 25);
}
.button-yellow:hover {
    color: rgb(255, 209, 25);
}

/** SLIDER PORTFOLIO **/
.portfolio {
    margin: 35px 0px;
}
.slider {
    height: 100vh;
    border-radius: 20px;
    box-shadow: 0px 3px 14px 0px #787777;
    overflow: hidden;
}
.wrap-slides {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.slide {
    width: 100%;
    flex-shrink: 0;
    transform: scale(1);
    transform-origin: center center;
    scroll-snap-align: center;
}
.slide-arrow {
    position: absolute;
    top: 50%;
    width: 13px;
    height: 13px;
    border: solid black;
    border-width: 0px 4px 4px 0px;
}
.slide-prev {
    transform: rotate(135deg);
    left: 2%;
}
.slide-next {
    transform: rotate(-45deg);
    right: 2%;
}
article {
    height: 100vh;
    margin-bottom: 20px;
    border-radius: 20px;
}
/** CARDS PORTFOLIO **/
.object-fit {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.image-booki {
    object-position: top left;
}
h2, .cards-description {
    margin-bottom: 0px;
}
.cards-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 50%;
    padding: 0px 40px;
}
h2 {
    text-align: center;
}
.icons-description {
    font-size: 25px;
    margin-top: 20px;
    gap: 20px;
    padding-bottom: 10px;   
}
.image-www {
    margin-top: 8px;
}

/** FOOTER **/
footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
footer span {
    font-size: 15px;
}

@media screen and (max-width: 1440px) {
    .slider, article {
        border-radius: 0;
    }
}

/** MEDIA QUERY TABLETS **/
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: red;
    }
}

/** MEDIA QUERY PHONES **/
@media screen and (max-width: 767px) {

}