/** GENERAL **/
* {
    box-sizing: border-box;
}
body {
    font-family: "EB Garamond", sans-serif;
}
.container {
    max-width: 800px;
    padding: 0px 20px;
    margin: auto;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
p, span {
    font-size: 18px;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: black;
}
.link {
    color: blue;
    text-decoration: underline;
}
.white-link {
    color: white;
    text-decoration: underline;
}
/** HEADER **/
header {
    flex-direction: column;
}
h1 {
    font-family: "The Nautigal", sans-serif;
    font-size: 70px;
    white-space: nowrap;
    margin: 15px 0px;
}
/** NAV **/
nav {
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
    gap: 20px;
}
li {
    font-size: 20px;
    font-weight: 700;
}
/** NAV ANIMATION **/
.li-active {
    border-bottom: solid 3px black;
}
.li-not-active:after {
    display: block;
    content: "";
    border-bottom: solid 3px black;
    transform: scaleX(0);
    transition: all ease-in-out 0.2s;
}
.li-not-active:hover:after {
    transform: scaleX(1);
}
.li-not-active:after {
    transform-origin: 0% 50%;
}
/** DESCRIPTION **/
.description {
    flex-direction: column;
    align-items: flex-start;
    font-family: "Philosopher", sans-serif;
}
.description p {
    margin: 5px 0px;
}
/** CONTACT BUTTONS **/
.contact {
    justify-content: space-between;
    margin-top: 20px;
}
.contact-button {
    width: 155px;
    height: 40px;
    padding: 0px 3px;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease;
}
.contact-button:after {
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    width: 0;
    background: white;
    z-index: -1;
    transition: all 0.3s ease;
}
.contact-button:hover:after {
    width: 100%;
}
.text-after-hover, .text-phone, .contact-button:hover .icon-before-hover {
    display: none;
}
.contact-button:hover .text-after-hover {
    display: initial;
}
.contact-button-blue {
    color: white;
    background: rgb(27, 79, 82);
    border: 2px solid rgb(27, 79, 82);
}
.contact-button-blue:hover {
    color: rgb(27, 79, 82);
}
.contact-button-yellow {
    color: black;
    background:rgb(255, 209, 25);
    border: 2px solid rgb(255, 209, 25);
}
.contact-button-yellow:hover {
    color: rgb(255, 209, 25);
}
/** SLIDER PORTFOLIO **/
.portfolio {
    margin: 35px 0px;
}
.slider {
    height: 91vh;
    border-radius: 20px;
    box-shadow: 0px 3px 14px 0px #787777;
    overflow: hidden;
}
.wrap-slides {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
article { /** SLIDE **/
    height: 91vh;
    width: 100%;
    border-radius: 20px;
    flex-shrink: 0;
    transform: scale(1);
    transform-origin: center center;
    scroll-snap-align: center;
}
.fa-circle-left {
    position: absolute;
    left: 2%;
    top: 50%;
    font-size: 20px;
    border-radius: 100%;
    z-index: 0;
}
.fa-circle-left:after {
    content: "";
    height: 14px;
    width: 14px;
    position: absolute;
    top: 1px;
    left: 3px;
    background: white;
    border-radius: 50%;
    z-index: -1;
}
.fa-circle-right {
    position: absolute;
    right: 2%;
    top: 50%;
    font-size: 20px;
    border-radius: 20px;
    z-index: 0;
}
.fa-circle-right:after {
    content: "";
    height: 14px;
    width: 14px;
    position: absolute;
    top: 1px;
    left: 4px;
    background: white;
    border-radius: 50%;
    z-index: -1;
}
/** CARDS PORTFOLIO **/
.object-fit {
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.image-booki {
    object-position: top left;
}
.cards-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 40px;
}
h2 {
    text-align: center;
    margin-bottom: 0px;
}
.cards-description {
    margin-bottom: 0px;
}
.icons-description {
    font-size: 25px;
    margin-top: 15px;
    gap: 20px; 
}
.fa-up-right-from-square {
    font-size: 22px;
}
/** FOOTER **/
footer {
    display: flex;
    justify-content: space-between;
}
footer span {
    font-size: 13px;
}
/** CV PAGE **/
.cv {
    margin: 5px auto 150px auto;
    font-family: "Poppins", sans-serif;
    max-height: 1044px;
    overflow: hidden;
}
/** DOWNLOAD BUTTON **/
.download-button {
    gap: 15px;
}
/** CV HEADER **/
.cv-header {
    padding: 18px 34px;
    color: white;
    background: rgb(27, 79, 82);
}
.cv-upper-div {
    display: flex;
    justify-content: space-between;
}
.cv-wrap-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
section img {
    height: 148px;
    width: 148px;
    object-fit: cover;
    border-radius: 100%;
}
.cv-title {
    font-family: "Poppins", arial, sans-serif;
    font-size: 61px;
    font-weight: bold;
    color:rgb(255, 209, 25);
    word-spacing: 6px;
    margin: 15px 0px
}
.cv-subtitle {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 14px;
    word-spacing: -4px;
    margin: 4px -13px 0px 0px;
}
/** CV CONTACT **/
.cv-wrap-contact {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 5%;
    height: 22px;
    margin-top: 35px;
}
.cv-contact {
    display: flex;
    align-items: flex-end;
    flex: 0 0 30%;
    height: 100%;
}
section span {
    padding-left: 5px;
    font-size: 14px;
    font-weight: 300;
}
.fa-linkedin-in {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    height: 20px;
    width: 20px;
    background: rgb(74, 134, 197);
    border-radius: 100%;
}
/** CV MAIN **/
.cv-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 33px 34px;
}
/** LONG SECTION (EXPERIENCES + FORMATIONS) **/
.cv-long-section {
    width: 69.1%;
    }
.cv-main-ul {
    padding-left: 6px;
}
.cv-main-ul a {
    text-decoration: underline;
}
h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 21px;
    height: 40px;
    margin: 0;
    background:rgb(27, 79, 82);
}
h4 {
    margin: 8px 0px -4px 0px;
    font-size: 15px;
    color: rgb(27, 79, 82);
}
mark {
    font-size: 11px;
    color: rgb(27, 79, 82);
    background: none;
}
.span-date {
    padding: 0;
    color: gray;
    font-size: 15px;
    font-style: italic;
}
li p {
    margin: 0px 0px 15px 0px;
    font-size: 13px;
    font-weight: 400;
}
aside {
    width: 28.3%;
}
aside span {
    padding: 0;
    font-weight: 500;
}
h5 {
    color: rgb(27, 79, 82);
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
    margin: 0;
}
.cv-footer {
    display: flex;
    justify-content: center;
    font-size: 207px;
    color: rgb(27, 79, 82);
    margin-top: 0;
    overflow: hidden;
}
.fa-star-left {
    margin-left: -120px;
}
.fa-square {
    margin-top: 71px;
    width: 760px;
    background: rgb(27, 79, 82);
}
.fa-star-right {
    margin-right: -120px;
}
.footer-page-cv-phone {
    display: none;
}
.footer-page-cv {
    max-width: 800px;
    margin: -112px auto 0px auto;
    padding: 0px 20px;
}

/** MEDIA QUERY TABLET **/
@media screen and (max-width: 1024px) {
/** CONTACT **/
    .contact {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2.3%;
    }
    .contact a {
        flex: 1 1 20%;
    }
    .contact-button {
        justify-content: center;
        gap: 3%;
        width: 100%;
    }
    .text-phone, .contact-button:hover .icon-before-hover {
        display: initial;
    }
    .contact-button:hover .text-after-hover {
        display: none;
    }
/** CV **/
    .cv-long-section {
        width: 68.9%;
    }
    h3 {
        height: 45px;
    }
}

/** MEDIA QUERY PHONES **/
@media screen and (max-width: 768px) {
/** GENERAL **/
    .container {
        max-width: 800px;
        padding: 0; 
        margin: auto;
    }
/** UPPER DIV **/
    .upper-div {
        padding: 0px 20px;
    }
/** CONTACT **/
    .contact {
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }
/** SLIDER PORTFOLIO **/
    .slider {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
/** CARDS PORTFOLIO **/
    article {
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .object-fit {
        height: 40%;
        width: 100%;
        object-position: 50% 30%;
    }
    .image-booki {
        object-position: top left;
    }
    .cards-text {
        height: 60%;
        width: 100%;
    }
    .cards-description {
        margin-top: 8px;
    }
/** CV PAGE **/
    .cv {
        max-height: 100%;
    }
    .download-button {
        background: rgb(255, 209, 25);
        color: black;
        border: none;
        border-radius: 0;
        position: fixed;
        bottom: 0;
    }
/** CV HEADER **/
    .cv-header {
        padding: 10px;
    }
    section img {
        width: 25vw;
        height: 25vw;
    }
    .cv-wrap-titles {
        align-items: center;
    }
    .cv-title {
        text-align: center;
        font-size: 8.5vw;
        word-spacing: 0px;
    }
    .cv-subtitle {
        font-size: 6vw;
        letter-spacing: 0px;
        word-spacing: 5px;
        margin: 0;
    }
/** CV CONTACT **/
    .cv-wrap-contact {
        flex-direction: column;
        margin-top: 10px;
        height: 100%;
    }
    .cv-wrap-contact :nth-child(2) {order: 3;}
    .cv-wrap-contact :nth-child(3) {order: 5;}
    .cv-wrap-contact :nth-child(4) {order: 2;}
    .cv-wrap-contact :nth-child(5) {order: 4;}
    .cv-contact {
        margin-top: 15px;
        width: 100%;
    }
    .fa-solid {
        display: flex;
        justify-content: center;
        width: 20px;
    }
/** CV MAIN **/
    .cv-main {
        padding: 8px 0px;
        gap: 8px;
    }
    .cv-long-section {
        width: 100%;
    }
    .cv-main-ul {
        padding-left: 10px;
    }
    h3 {
        padding: 0px 5px;
        height: 55px;
    }
    aside {
        width: 100%;
    }
    .cv-long-section-ul {
        padding-left: 10px;
    }
/** CV FOOTER **/
    .cv-footer {
        display: none;
    }
/** FOOTER **/
    .footer-page-cv {
        display: none;
    }
    .footer-page-cv-phone {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .footer-page-cv-phone span {
        font-family: "EB Garamond", sans-serif;
        font-size: 13px;
    }
}
